<section class="flex flex-col gap-2 mt-10 items-center justify-center">
  <div class="flex flex-col">
    <h3 class="font-bold text-3xl text-white"> <%= room.name %> - Room </h3>
    <span class="text-white font-semibold">Users int this room</span>
  </div>
</section>
