<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen bg-[#181D31]">
    <%= render 'shared/side_bar' %>

    <section class="flex flex-col items-center justify-center gap-5 h-screen w-full">
      <%= image_tag('chat.png', width: 100) %>
      <h1 class="font-bold text-4xl text-white my-4">Chat App -  Ruby on Rails 7</h1>
      <p class="text-center font-semibold text-white">This is the chat app with RoR and Hotwire.</p>
    </section>
  </main>
<% end %>
